footer {
  font-size: 14px;
  opacity: 0.8;
  text-align: right;
  padding: 10px 130px 10px 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
