.Weather {
  border: 2px solid #afdcf0;
  max-width: 700px;
  min-height: 230px;
  display: block;
  margin: 0 auto;
  margin-top: 40px;
  background-color: #f2fbff;
}
form {
  margin: 18px;
}

.Weather h1 {
  font-family: Cormorant;
  font-weight: 600;
  color: #3a4c53;
}
.Weather .col {
  margin-top: 30px;
}
.Weather .col-2 {
  margin-top: 30px;
}

.Weather .temp {
  font-size: 46px;
  font-family: Cormorant;
  color: #3a4c53;
}
.Weather .unit {
  font-size: 20px;
  font-family: Cormorant;
  position: relative;
  bottom: 18px;
  color: #3a4c53;
}
.Weather ul {
  list-style: none;
  font-family: Cormorant;
  font-size: 17px;
  position: relative;
  top: 10px;
  color: #3a4c53;
}
.Weather h5 {
  font-family: Cormorant;
  color: #3a4c53;
}
.Weather h6 {
  font-family: Cormorant;
  font-size: 24px;
  font-weight: bold;
  color: #3a4c53;
}
.Weather .col-5 {
  padding-right: 20px;
  position: relative;
  bottom: 14px;
}
