.Weather {
  border: 2px solid #afdcf0;
  max-width: 700px;
  min-height: 230px;
  display: block;
  margin: 0 auto;
  background-color: #e2f3fa;
  margin-top: 30px;
}
.Weather form {
  margin: 20px;
}

.Weather h1 {
  font-family: Cormorant;
  font-weight: 600;
  color: #3a4c53;
  line-height: 1;
}
.Weather .col {
  margin-top: 30px;
}
.Weather .col-2 {
  margin-top: 24px;
}

.Weather .temp {
  font-size: 52px;
  font-family: Cormorant;
  color: #3a4c53;
}
.Weather .unit {
  font-size: 20px;
  font-family: Cormorant;
  position: relative;
  bottom: 21px;
  color: #3a4c53;
}
.Weather ul {
  list-style: none;
  font-family: Cormorant;
  font-size: 17px;
  position: relative;
  top: 10px;
  right: 15px;
  color: #3a4c53;
}
.Weather h5 {
  font-family: Cormorant;
  color: #3a4c53;
}
.Weather h6 {
  font-family: Cormorant;
  font-size: 24px;
  font-weight: bold;
  color: #3a4c53;
  line-height: 1;
}
.Weather .col-5 {
  padding-right: 40px;
  position: relative;
}
.Weather img {
  height: 80px;
  width: 80px;
}
