.Weather {
  border: 2px solid #afdcf0;
  max-width: 700px;
  min-height: 230px;
  display: block;
  margin: 0 auto;
  background-color: #ebf3f7;
  margin-top: 40px;
}
.Weather form {
  margin: 20px;
}

.Weather h1 {
  font-family: Cormorant;
  font-weight: 600;
  color: #3a4c53;
  line-height: 1;
}
.Weather .col {
  margin-top: 30px;
}
.Weather .col-2 {
  margin-top: 24px;
}

.WeatherTemperature .temperature {
  font-size: 48px;
  font-family: Cormorant;
  color: #3a4c53;
}
.WeatherTemperature .unit {
  font-size: 16px;
  font-family: "Times New Roman", Times, serif;
  position: relative;
  bottom: 23px;
  color: #3a4c53;
}
.Weather ul {
  list-style: none;
  font-family: Cormorant;
  font-size: 17px;
  position: relative;
  top: 10px;
  right: 15px;
  color: #3a4c53;
}
.Weather h5 {
  font-family: Cormorant;
  color: #3a4c53;
  padding-bottom: 5px;
}
.Weather h6 {
  font-family: Cormorant;
  font-size: 24px;
  font-weight: bold;
  color: #3a4c53;
  line-height: 1;
}

.Weather canvas {
  height: 64px;
  width: 64px;
  margin-top: 6px;
}
